@model Proyecto_PetSupply.Models.Horario

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h2, h3 {
        text-align: center;
    }

    .product-details {
        max-width: 500px;
        margin: 0 auto;
    }

    .form-actions {
        text-align: center;
        margin-top: 20px;
    }
</style>

<h2>Eliminar horario</h2>

<h3>¿Esta seguro que desea eliminar el horario?</h3>

<div>
    <h4>Horario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            Dia
        </dt>

        <dd>
            @ViewBag.Horario
        </dd>

        <dt>
            Hora
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>

        <br />

        <div class="form-actions">
            @Html.ActionLink("Regresar a lista de Horarios", "Index")
        </div>
    }
</div>
