@model Proyecto_PetSupply.Models.Producto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<style>
    h2 {
        text-align: center;
    }

    .product-details {
        max-width: 500px;
        margin: 0 auto;
    }

    .btn-group {
        text-align: center;
        margin-top: 20px;
    }

        .btn-group a {
            margin-right: 10px;
        }
</style>

<h2>Detalles</h2>

<div>
    <h4>Datos del Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

        <dt>
            Fecha de vencimiento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha_Vencimiento, "{0:yyyy-MM-dd}")
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit2", new { id = Model.Id })" class="btn btn-success">Editar</a> |
    <a href="@Url.Action("Delete2", new { id = Model.Id })" class="btn btn-danger">Eliminar</a>
    <br />
    <br />
    @Html.ActionLink("Regresar a lista de Productos", "Index2")
</p>
