@model Proyecto_PetSupply.Models.Cita

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h2, h3 {
        text-align: center;
    }

    .product-details {
        max-width: 500px;
        margin: 0 auto;
    }

    .form-actions {
        text-align: center;
        margin-top: 20px;
    }
</style>

<h2>Eliminar Citas</h2>

<h3>¿Esta seguro que desea eliminar la Cita?</h3>

<div>
    <h4>Cita</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            Descripcion del servicio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion_Servicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            Horario
        </dt>
        <dd>
            @ViewBag.Horario
        </dd>

        <dt>
            Nombre de la mascota
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mascota.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>

        <br />

        <div class="form-actions">
            @Html.ActionLink("Regresar a lista de Citas", "Index")
        </div>
    }
</div>